* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

body::before{
  content:"H";
  position: fixed;
  top: 20%;
  left:10%;
  font-size: 20em;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #555;
  white-space: nowrap;

}

body::after{
  content:"B";
  position: fixed;
  top: 20%;  
  right: 10%; 
  font-size: 20em;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #555;
  white-space: nowrap;

}
@font-face {
  font-family: "CloisterBlack";
  src: local("CloisterBlack.ttf"),
    url("CloisterBlack.ttf") format("truetype");
}

ul, li {
  list-style: none;

}

a {
  text-decoration: none;
  color: black;
}
/* section head */
.head{
  background: url(../Img/fond-carte.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}
/* menu header */
.col-head, .text-white {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
}

.text-muted {
  color: white;
  text-align: center;
  font-size: 14px;
}

.icon-title {
  margin: 2px;
}

.pioche-carte {
  position: relative;
  display: flex;
  justify-content: center;
}
/* PIOCHE UNE CARTE */
.left {
  position: absolute;
  border: 3px solid red;
  top:0;
  width: 40%;
  right: 0;
  margin-top: 40px;
}

.title {
  font-size: 100px;
  margin-top: 20px;
  padding: 20px;
  font-family: "CloisterBlack", sans-serif;
  text-align: center;
  color: white;
}

.right {
  position: absolute;
  border: 3px solid #0000AB;
  width: 40%;
  left: 0;
  bottom:0;
}
.title-animate{
  -webkit-animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

