* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

ul, li {
  list-style: none;

}

a {
  text-decoration: none;
  color: black;
}


/* section head */
.head{
  background: url(../Img/fond-carte.png);
  z-index: 100;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}

/* menu header */
.col-head, .text-white, .text-muted {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-style: normal;
  font-size: 23pt;
  color: #FFFFFF;
}

.icon-title {
  margin: 2px;
}

.pioche-carte {
  position: relative;
  display: flex;
  justify-content: center;
}

.left {
  position: absolute;
  border: 3px solid red;
  top:0;
  width: 40%;
  right: 0;
  margin-top: 40px;
}

.title {
  font-size: 100px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

.right {
  position: absolute;
  border: 3px solid #0000AB;
  width: 40%;
  left: 0;
  bottom:0;
}
