
.list-avatar {
  display: flex;
  justify-content: center;
  align-items:center;

}


.list-avatar .row .col {
  color: white;
  text-align: center;
  cursor: help;
  margin: 50px;
  padding: 65px;
}

.list-avatar .shadow-red {
  box-shadow: inset 0 0 1em , 0 0 6em red;
}

.list-avatar .shadow-blue {
  width:229px;
  height: 354px;
  box-shadow: inset 0 0 1em , 0 0 6em #0000AB;
}



  
/* card reto-verso */
.card-reto-verso {
 
  width: 230px;
  height: 354px;
  position: relative;
  transform-style: preserve-3d;
}
.card-reto-verso{
  display: flex;
  justify-content: center;
}

.card-reto-verso img{

  position: absolute;
  backface-visibility:hidden;
  transition: 2s;
}

.card-reto-verso .verso{
  transform: rotateY(180deg);
}

.card-reto-verso:hover .verso{
  transform: rotateY(0deg);
}

.card-reto-verso:hover .reto{
  transform: rotateY(-180deg);
}


/* élément du fond */
.el{
  position: absolute;
}
.el1{
  left:0;
  top:89vw;

}

.el2{
  right:0;
  top:100vw;
}

.el3{
  right:0;
  top:50vw;

}

.el4{
  left:0;
  top:40vw;
}